@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;

  --color-primary: #003366;
  --color-secondary: #00E3C0;
  --color-tertiary: #10898D14;
}

html {
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@keyframes custom-bounce {
  0%, 100% {
    transform: translateY(30px);
  }
  50% {
    transform: translateY(-20px);
  }
}

.animate-bounce {
  animation: custom-bounce 1s infinite;
}
